<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Token</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<% if (isError) { %>
<script type="text/javascript">
	var redirect_uri = "<%= redirect_uri %>";
	var error = "<%= error %>";
	var error_description = "<%= error_description %>";

	location.replace(redirect_uri 
		+ "?error=" + error 
		+ "&error_description=" + error_description
	);
</script>
	<% } else { %>
<script type="text/javascript">
	var access_token = "<%= access_token %>";
	var token_type = "<%= token_type %>";
	var expires_in = "<%= expires_in %>";
	var refresh_token = "<%= refresh_token %>";
	var redirect_uri = "<%= redirect_uri %>";

	location.replace(redirect_uri 
		+ "?access_token=" + access_token 
		+ "&token_type=" + token_type
		+ "&expires_in=" + expires_in
		+ "&refresh_token=" + refresh_token
	);
</script>
	<% } %>
</head>

<body>

</body>

</html>
